:root {
    --primary-color: #fed001;
}

html {
    font:400 62.5%  "Inter", sans-serif;
}

p, a {
   font-size: 1.6rem; /*equivalente a 10px*/ 
}

nav a {
    color: inherit; /*herança - herda do elemento acima(mais proximo)*/
    text-decoration: none;
}

h1 {
    font-size: 4.8rem; /*48px*/
}

h2 {
    font-size: 4rem;
}

/* h3 {
    font-size: 3.2rem;
} */

.upper {
    text-transform: uppercase;
}

.btn {
    background-color: var(--primary-color);
    border-radius: 4px;
    font-size: 1.8rem;
    text-decoration: none;
    padding: 1.2rem 3.2rem;
    display: inline-block;
}

.section_btn {
    margin: 7rem 0;
}

.wrapperContainer {
    padding-top: 1px; /*para fechar o espaçamento do top de cada div wrapperContainer*/
}

.wrapperContainer-dark {
    background-color: #2a2a2a;
    color: #fafafa;
}

.wrapperContainer-dark2 {
    background-color: #003464;
    color: #fafafa;
}

.wrapperContainer-ligth {
    background-color: #fafafa;
}

.container {
    max-width: 127.6rem; /*1276px*/
    margin: auto;

}

.section_title {
    padding: 7rem 0;
    text-align: center;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-color);
    padding: 2rem 0;
}

.header_nav a {
    padding: .5em 1.15em;
    border: solid .15rem;
    letter-spacing: .1rem
}

.header_nav ul {
    display: flex; /*ou inline-block na li*/
    gap: .8rem;
    list-style-type: none;
    text-transform: uppercase;
    /*display flex na ul permite utilizar o gap para espaçamaneto entre as li*/
}

.header_nav a:hover{
    background-color: var(--primary-color);
    color: #2a2a2a;
}

.heroBanner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20rem;
}

.wrapperContainer-hero {
    background-image: linear-gradient(to top, yellow, white 75%);
    
}

.cursos {
    text-align: center;
}

.cursosContainer {
    display: flex;
    text-align: left;
    gap: 2rem;
}

.curso_card {
    flex: 1;
    
}

.curso_card img {
    display: block;
    width: 100%;
}

.curso_card h3 {
    font-size: 2.4rem;
    margin: 0;
}

.cursos_card p {
    font-size: 1.8rem;
    line-height: 1.5;
}

.cursos_card_content {
    padding: 3rem;
    border: 1px solid #f1f1f1;
    border-radius: 0 0 8px 8px;
    border-top: transparent;
    box-shadow: 1px 1px 16px #2a2a2a23;
}

.escola {
    display: flex;
    gap: 6rem;
    padding-top: 6rem;
    max-height: 540px;
}

.escola_title {
    font-size: 3.2rem;
    margin-top: 2rem;
}

.escola p{
    font-size: 1.8rem;
    line-height: 2.75rem;
}

.contatos_address {
    text-align: right;
    font: normal 400 1.8rem "Inter", sans-serif;
    padding: 3rem 0;
}

.footer {
    font-size: 1.6rem;
    text-align: center;
    padding: 4.5rem;
}